<tr id="<%= dom_id team %>">
  <td>
    <%= team.number %>
  </td>

  <td>
    <%= team.name %>
  </td>

  <td>
    <%= team.location %>
  </td>

  <td>
    <%= team.team_type %>
  </td>
  <td>
    <img src="<%= team.logo %>"/>
  </td>


</tr>
