<tr id="<%= dom_id team %>">
  <td>
    <%= link_to(team.number, team) %>
  </td>

  <td>
    <%= link_to(team.name, team) %>
  </td>

  <td>
    <%= link_to(team.location, team) if team.location.present? %>
  </td>

  <td>
    <%= link_to(team.team_type, team) if team.location.present? %>
  </td>
  <td>
    <% if team.logo.present? %>
      <img src="<%= team.logo %>" height="40px" width="40px"/>
    <% end %>
  </td>
</tr>
