<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML) %>
<p style="color: green"><%= notice %></p>

<table id="teams" class="hover">
  <thead>
  <tr>
    <th><strong>Number</strong></th>
    <th><strong>Name</strong></th>
    <th><strong>Location</strong></th>
    <th><strong>Type</strong></th>
    <th><strong>Logo</strong></th>
  </tr>
  </thead>
  <%= render @team %>
</table>

<%= turbo_frame_tag "toggle_new" do %>
  <%= render "team_log_form", team: @team, team_log: TeamLog.new(team: @team), markdown: markdown %>
<% end %>

<table>
  <thead>
  <tr>
    <th><strong>Added</strong></th>
    <th><strong>Log</strong></th>
  </tr>
  </thead>
  <tbody id="team_logs">
  <%= turbo_stream_from "team_logs" %>

  <%= turbo_stream.prepend :team_logs %>

  <% @team.team_logs.each do |team_log| %>
    <%= render "team_log", team_log: team_log, team: @team, markdown: markdown %>
  <% end %>
  </tbody>
</table>


<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
