<p style="color: green"><%= notice %></p>

<table id="teams" class="hover">
  <thead>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Number</strong></th>
    <th><strong>Location</strong></th>
    <th><strong>Type</strong></th>
    <th><strong>Logo</strong></th>
  </tr>
  </thead>
  <%= render @team %>
</table>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
