<tr id="<%= dom_id competition %>">
  <td>
    <%= competition.name %>
  </td>

  <td>
    <%= competition.date %>
  </td>

  <td>
    <%= link_to "Matches", competition_matches_path(competition), class: "button" %>
  </td>
  <td>
    <%= link_to "Edit", competition, class: "button" %>
  </td>

</tr>
