<tr id="<%= dom_id competition %>">
  <td>
    <%= competition.name %>
  </td>

  <td>
    <%= competition.date %>
  </td>

  <td>
    <%=
      if competition.teams.count > 0
        link_to competition.teams.count, competition_competition_teams_path(competition)
      else
        form_with(model: competition, url: upload_teams_competition_path(competition), data: { turbo: false }) do |form| %>
        <div class="grid-x grid-padding-x small-up-1 medium-up-5 large-up-4">
          <%= form.file_field(:teams_file) %>
          <%= form.submit %>
        </div>
      <% end %>
    <% end %>
  </td>

  <td>
    <%= link_to "Matches", competition_matches_path(competition), class: "button" %>
  </td>
  <td>
    <%= link_to "Edit", competition, class: "button" %>
  </td>

</tr>
