<tr>
  <td>
    <%= match.match_number %>
  </td>
  <td>
    <%= score_sheet.team.number %>
  </td>

  <td><%= score_sheet.leave %></td>
  <td><%= score_sheet.score_speaker_auto %></td>
  <td><%= score_sheet.score_amp_auto %></td>
  <td><%= score_sheet.score_speaker %></td>
  <td><%= score_sheet.score_amp %></td>
  <td><%= score_sheet.score_trap %></td>
  <td><%= score_sheet.park %></td>
  <td><%= score_sheet.onstage %></td>
  <td><%= score_sheet.score_speaker_amplified %></td>
  <td><%= score_sheet.foul %></td>
  <td><%= score_sheet.defended %></td>
  <td><%= score_sheet.dead_on_field %></td>
  <td><%= score_sheet.user_id %></td>
  <td><%= score_sheet.currently_locked %></td>
  <td><%= score_sheet.scouting_complete %></td>
  <td><%= score_sheet.score_harmony %></td>
</tr>