<tr>
  <td>
    <%= match.match_number %>
  </td>
  <td>
    <%= link_to score_sheet.team.number, team_path(score_sheet.team) %>
  </td>

  <td><%= score_sheet.leave ? "Yes" : "No" %></td>
  <td><%= score_sheet.score_speaker_auto %></td>
  <td><%= score_sheet.score_amp_auto %></td>
  <td><%= score_sheet.score_speaker %></td>
  <td><%= score_sheet.score_amp %></td>
  <td><%= score_sheet.score_trap %></td>
  <td><%= score_sheet.score_shuttle %></td>
  <td><%= score_sheet.park ? "Yes" : "No" %></td>
  <td><%= score_sheet.onstage  ? "Yes" : "No" %></td>
  <td><%= score_sheet.score_harmony %></td>
  <td><%= score_sheet.foul %></td>
  <td><%= score_sheet.defended ? "Yes" : "No" %></td>
  <td><%= score_sheet.dead_on_field ? "Yes" : "No" %></td>
  <td><%= score_sheet.user.name %></td>
  <td><%= score_sheet.currently_locked ? "Yes" : "No" %></td>
  <td><%= score_sheet.scouting_complete ? "Yes" : "No" %></td>
</tr>