<p style="color: green"><%= notice %></p>

<h1><%= @title || "Matches" %></h1>
<%= link_to "Matches", competition_matches_path(@competition), class: "button" %>
<table id="match" class="hover">
  <thead>
  <tr>
    <th>
      <strong>
        Match Number
      </strong>
    </th>
    <th>
      <strong>
        Team
      </strong>
    </th>
    <th><strong><%= "leave".titlecase %></strong></th>
    <th><strong><%= "score speaker auto".titlecase %></strong></th>
    <th><strong><%= "score amp auto".titlecase %></strong></th>
    <th><strong><%= "score speaker".titlecase %></strong></th>
    <th><strong><%= "score amp".titlecase %></strong></th>
    <th><strong><%= "score trap".titlecase %></strong></th>
    <th><strong><%= "park".titlecase %></strong></th>
    <th><strong><%= "onstage".titlecase %></strong></th>
    <th><strong><%= "score harmony".titlecase %></strong></th>
    <th><strong><%= "foul".titlecase %></strong></th>
    <th><strong><%= "defended".titlecase %></strong></th>
    <th><strong><%= "dead on field".titlecase %></strong></th>
    <th><strong><%= "user id".titlecase %></strong></th>
    <th><strong><%= "currently locked".titlecase %></strong></th>
    <th><strong><%= "scouting complete".titlecase %></strong></th>
  </tr>
  </thead>
  <% @matches.each do |match| %>
    <% match.red_alliance.team_score_sheets.each do |score_sheet| %>
      <% if score_sheet.user.present? %>
        <%= render "score", match: match, score_sheet: score_sheet %>
      <% end %>
    <% end %>
    <% match.blue_alliance.team_score_sheets.each do |score_sheet| %>
      <% if score_sheet.user.present? %>
        <%= render "score", match: match, score_sheet: score_sheet %>
      <% end %>
    <% end %>
  <% end %>
</table>


