<p style="color: green"><%= notice %></p>

<h1><%= @title || "Matches" %></h1>
<%= link_to "Matches", competition_matches_path(@competition), class: "button" %>
<table id="match" class="hover">
  <thead>
  <tr>
    <th>
      <strong>
        Match Number
      </strong>
    </th>
    <th>
      <strong>
        Team
      </strong>
    </th>
    <th><strong>leave </strong></th>
    <th><strong>score speaker auto </strong></th>
    <th><strong>score amp auto </strong></th>
    <th><strong>score speaker </strong></th>
    <th><strong>score amp </strong></th>
    <th><strong>score trap </strong></th>
    <th><strong>park </strong></th>
    <th><strong>onstage </strong></th>
    <th><strong>score speaker amplified </strong></th>
    <th><strong>foul </strong></th>
    <th><strong>defended </strong></th>
    <th><strong>dead on field </strong></th>
    <th><strong>user id </strong></th>
    <th><strong>currently locked </strong></th>
    <th><strong>scouting complete </strong></th>
    <th><strong>score harmony </strong></th>
  </tr>
  </thead>
  <% @matches.each do |match| %>
    <% match.red_alliance.team_score_sheets.each do |score_sheet| %>
      <% if score_sheet.user.present? %>
        <%= render "score", match: match, score_sheet: score_sheet %>
      <% end %>
    <% end %>
    <% match.blue_alliance.team_score_sheets.each do |score_sheet| %>
      <% if score_sheet.user.present? %>
        <%= render "score", match: match, score_sheet: score_sheet %>
      <% end %>
    <% end %>
  <% end %>
</table>


