<div class="cell small-4 text-center"><h1>LEFT START?</h1></div>
<div class="cell small-6">
  <%= form_with(url: leave_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id)) do |form| %>
    <div class="switch large">
      <%= check_box_tag(
            "LEAVE",
            @team_score_sheet.leave?,
            @team_score_sheet.leave?,
            onchange: "this.form.requestSubmit();",
            class: "switch-input",
            name: "leave",
            id: "leave"
          )
      %>
      <label class="switch-paddle" for="leave">
        <span class="show-for-sr">LEAVE</span>
        <span class="switch-active" aria-hidden="true"><h1>Yes</h1></span>
        <span class="switch-inactive" aria-hidden="true"><h1>No</h1></span>
      </label>
    </div>
  <% end %>
</div>
<div class="cell expanded"></div>

<%= render 'score_buttons',
           score_field: :score_speaker_auto,
           team_score_sheet: @team_score_sheet,
           score_url: score_speaker_auto_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_speaker_auto_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :score_amp_auto,
           team_score_sheet: @team_score_sheet,
           score_url: score_amp_auto_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_amp_auto_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<div class="cell expanded">
  <%= button_to(toggle_auto_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :teleop), class: "button expanded score-button") do %>
    <h1>END AUTO</h1>
  <% end %>
</div>