<div class="cell expanded">
  <%= button_to(toggle_teleop_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :teleop), class: "button expanded navigate") do %>
    <h4>RETURN TO TELEOP</h4>
  <% end %>
</div>

<%= form_with(model: team_log, url: [team, team_log], data: { turbo: true }) do |form| %>
  <div class="grid-x grid-padding-x" data-controller="log_edit" data-action="<%= team_log.persisted? ? 'click->log_edit#edit' : '' %>" >
    <div  class="cell small-8 medium-12" data="click-toggle">
      <%== markdown.render(team_log.log.to_s) %>
    </div>
  </div>
  <% if team_log.errors.any? %>
    <div style="color: red" class="grid-x">
      <ul class="cell">
        <% team_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid-x grid-padding-x <%= team_log.persisted? ? 'hide' : '' %>" data="click-toggle">
    <div class="cell small-6 medium-10">
      <%= form.text_area :log,
                         tabindex: 0,
                         rows: 5,
                         class: "input-group-field",
                         style: "white-space: pre-line",
                         value: team_log.log,
                         placeholder: "## You can put markdown in here.\n  * Stardate 2024 \n  * Release the Kraken!" %>
    </div>
    <div class="cell small-6 medium-10">
      <%= form.submit("SAVE", class: "button expanded", label: "Save") %>
    </div>
  </div>
<% end %>

<div class="cell expanded">
  <%= button_to(
        scouting_complete_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :teleop),
        class: "button expanded complete", "data-turbo": false) do %>
    <h4>SCOUTING COMPLETE</h4>
  <% end %>
</div>