<div class="cell expanded">
  <%= button_to(toggle_teleop_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :teleop), class: "button expanded navigate") do %>
    <h4>RETURN TO TELEOP</h4>
  <% end %>
</div>

<%= render 'score_buttons',
           score_field: :foul,
           team_score_sheet: @team_score_sheet,
           score_url: foul_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: foul_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :score_trap,
           team_score_sheet: @team_score_sheet,
           score_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<div class="cell small-6">
  <h2>PARKED</h2>
</div>
<div class="cell small-6 expanded">
  <h2>ON STAGE</h2>
</div>
<div class="cell small-6">
  <%= form_with(url: park_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id)) do |form| %>
    <div class="switch large">
      <%= check_box_tag(
            "PARK",
            @team_score_sheet.park?,
            @team_score_sheet.park?,
            onchange: "this.form.requestSubmit();",
            class: "switch-input",
            name: "park",
            id: "park"
          )
      %>
      <label class="switch-paddle" for="park">
        <span class="show-for-sr">PARK</span>
        <span class="switch-active" aria-hidden="true"><h2>Yes</h2></span>
        <span class="switch-inactive" aria-hidden="true"><h2>No</h2></span>
      </label>
    </div>
  <% end %>
</div>
<div class="cell small-6">
  <%= form_with(url: onstage_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id)) do |form| %>
    <div class="switch large">
      <%= check_box_tag(
            "onstage",
            @team_score_sheet.onstage?,
            @team_score_sheet.onstage?,
            onchange: "this.form.requestSubmit();",
            class: "switch-input",
            name: "onstage",
            id: "onstage"
          )
      %>
      <label class="switch-paddle" for="onstage">
        <span class="show-for-sr">onstage</span>
        <span class="switch-active" aria-hidden="true"><h2>Yes</h2></span>
        <span class="switch-inactive" aria-hidden="true"><h2>No</h2></span>
      </label>
    </div>
  <% end %>
</div>
</div>


<%= render 'score_buttons',
           score_field: :score_harmony,
           team_score_sheet: @team_score_sheet,
           score_url: score_harmony_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_harmony_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>


<%= form_with(model: team_log, url: [team, team_log], data: { turbo: true }) do |form| %>
  <div class="grid-x grid-padding-x" data-controller="log_edit" data-action="<%= team_log.persisted? ? 'click->log_edit#edit' : '' %>" >
    <div  class="cell small-8 medium-12" data="click-toggle">
      <%== markdown.render(team_log.log.to_s) %>
    </div>
  </div>
  <% if team_log.errors.any? %>
    <div style="color: red" class="grid-x">
      <ul class="cell">
        <% team_log.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid-x grid-padding-x <%= team_log.persisted? ? 'hide' : '' %>" data="click-toggle">
    <div class="cell small-6 medium-10">
      <%= form.text_area :log,
                         tabindex: 0,
                         rows: 5,
                         class: "input-group-field",
                         style: "white-space: pre-line",
                         value: team_log.log,
                         placeholder: "## You can put markdown in here.\n  * Stardate 2024 \n  * Release the Kraken!" %>
    </div>
    <div class="cell small-6 medium-10">
      <%= form.submit("SAVE", class: "button expanded", label: "Save") %>
    </div>
  </div>
<% end %>

<div class="cell expanded">
  <%= button_to(
        scouting_complete_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :teleop),
        class: "button expanded complete", "data-turbo": false) do %>
    <h4>SCOUTING COMPLETE</h4>
  <% end %>
</div>