<div class="cell small-9">
  <div>
    <%= button_to(score_url, class: "button expanded score-button") do %>
      <h2>
        <%= t(score_field) %>:
        <%= turbo_frame_tag score_field do %>
          <%= team_score_sheet[score_field] %>
        <% end %>
    <% end %>
    </h2>
  </div>
</div>

<div class="cell small-3">
  <%= button_to(undo_url, class: "button expanded alert score-button") do %>
  <h2>UNDO</h2>
  <% end %>
</div>