<div class="cell large-10">
  <%= button_to("ENABLE AUTO", toggle_auto_match_team_score_sheet_path(@match.id, @team_score_sheet.id, show_section: :auto), class: "button expanded") %>
</div>
<div class="cell expanded">
  SPEAKER SCORE
  <%= turbo_frame_tag dom_id(@team_score_sheet, :score_speaker) do %>
    <%= @team_score_sheet.score_speaker %>
  <% end %>
</div>

<div class="cell small-6">
  <%= button_to("SPEAKER", score_speaker_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: 1), class: "button expanded") %>
</div>
<div class="cell small-2">
  <%= button_to("UNDO", score_speaker_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: -1), class: "button expanded alert") %>
</div>
<div class="cell expanded">
  AMP SCORE
  <%= turbo_frame_tag dom_id(@team_score_sheet, :score_amp) do %>
    <%= @team_score_sheet.score_amp %>
  <% end %>
</div>
<div class="cell small-6">
  <%= button_to("AMP", score_amp_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: 1), class: "button expanded") %>
</div>
<div class="cell small-2">
  <%= button_to("UNDO", score_amp_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: -1), class: "button expanded alert") %>
</div>
<div class="cell expanded">
  TRAP SCORE
  <%= turbo_frame_tag dom_id(@team_score_sheet, :score_trap) do %>
    <%= @team_score_sheet.score_trap %>
  <% end %>
</div>
<div class="cell small-6">
  <%= button_to("TRAP", score_trap_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: 1), class: "button expanded") %>
</div>
<div class="cell small-2">
  <%= button_to("UNDO", score_trap_match_team_score_sheet_path(@match.id, @team_score_sheet.id, increment: -1), class: "button expanded alert") %>
</div>