<div class="cell expanded">
  <%= button_to(toggle_auto_competition_match_team_score_sheet_path(@match.competition.id, @match.id, @team_score_sheet.id, show_section: :auto), class: "button expanded navigate") do %>
    <h4>RETURN TO AUTO</h4>
  <% end %>
</div>
<%= render 'score_buttons',
           score_field: :score_speaker,
           team_score_sheet: @team_score_sheet,
           score_url: score_speaker_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_speaker_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :score_amp,
           team_score_sheet: @team_score_sheet,
           score_url: score_amp_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_amp_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>
<div class="cell small-6 "><h2>DEFENDED AGAINST</h2></div>
<div class="cell small-6 expanded"><h2>DEAD FOR 15 SECONDS</h2></div>

<div class="cell small-6">
  <%= form_with(url: defended_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id)) do |form| %>
    <div class="switch large">
      <%= check_box_tag(
            "defended",
            @team_score_sheet.defended?,
            @team_score_sheet.defended?,
            onchange: "this.form.requestSubmit();",
            class: "switch-input",
            name: "defended",
            id: "defended"
          )
      %>
      <label class="switch-paddle" for="defended">
        <span class="show-for-sr">defended</span>
        <span class="switch-active" aria-hidden="true"><h2>Yes</h2></span>
        <span class="switch-inactive" aria-hidden="true"><h2>No</h2></span>
      </label>
    </div>
  <% end %>
</div>

<div class="cell small-6">
  <%= form_with(url: dead_on_field_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id)) do |form| %>
    <div class="switch large">
      <%= check_box_tag(
            "dead_on_field",
            @team_score_sheet.dead_on_field?,
            @team_score_sheet.dead_on_field?,
            onchange: "this.form.requestSubmit();",
            class: "switch-input",
            name: "dead_on_field",
            id: "dead_on_field"
          )
      %>
      <label class="switch-paddle" for="dead_on_field">
        <span class="show-for-sr">dead_on_field</span>
        <span class="switch-active" aria-hidden="true"><h2>Yes</h2></span>
        <span class="switch-inactive" aria-hidden="true"><h2>No</h2></span>
      </label>
    </div>
  <% end %>
</div>

<%= render 'score_buttons',
           score_field: :score_trap,
           team_score_sheet: @team_score_sheet,
           score_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: score_trap_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>

<%= render 'score_buttons',
           score_field: :foul,
           team_score_sheet: @team_score_sheet,
           score_url: foul_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: 1),
           undo_url: foul_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, increment: -1)
%>
<div class="cell expanded"></div>

<div class="cell expanded">
  <%= button_to(toggle_teleop_competition_match_team_score_sheet_path(@match.competition, @match.id, @team_score_sheet.id, show_section: :final), class: "button expanded navigate") do %>
    <h4>GO TO ENDGAME</h4>
  <% end %>
</div>
