<p style="color: green"><%= notice %></p>

<%= render @team_score_sheet %>

<div>
  <%= link_to "Edit this match action", edit_match_team_score_sheet_path(@match) %> |
  <%= link_to "Back to match actions", match_team_score_sheets_path %>

  <%= button_to "Destroy this match action", [@match, @team_score_sheet], method: :delete %>
</div>
