<%= form_with(model: match, data: { turbo: true }) do |form| %>
  <div class="grid-x">
    <% if match.errors.any? %>
      <div style="color: red" class="cell expanded">
        <ul>
          <% match.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="cell small-3">
      <%= form.label :match_number, style: "display: block" %>
    </div>

    <div class="cell small-3">
      <%= form.label :red_alliance, style: "display: block" %>
    </div>
    <div class="cell">
      <%= form.label :blue_alliance, style: "display: block" %>
    </div>

    <script type="text/javascript">
        document.getElementById('match_match_number').focus();
    </script>
    <div class="cell small-3">
      <%= form.number_field :match_number, tabindex: 0 %>
    </div>

    <div class="cell small-3" data-controller="select">
      <%= form.collection_select :red_alliance_teams,
                                 Team.select(:id, :number, :name).limit(10),
                                 :id,
                                 :number_and_name,
                                 multiple: true
      %>
    </div>
    <div class="cell small-3" data-controller="select">
      <%= form.collection_select :blue_alliance_teams,
                                 Team.select(:id, :number, :name).limit(10),
                                 :id,
                                 :number_and_name,
                                 multiple: true
      %>
    </div>

    <div class="cellsmall-6">
      <%= form.submit(class: "button") %>
    </div>
  </div>
<% end %>
