<%= form_with(model: match, url: upload_matches_competition_path(match.competition, match), data: { turbo: false }) do |form| %>
  <div class="grid-x grid-padding-x small-up-1 medium-up-5 large-up-4">
    <%= form.file_field(:match_file) %>
    <%= form.submit %>
  </div>
<% end %>
<%= form_with(model: match, url: competition_matches_path(match.competition), data: { turbo: true }) do |form| %>
  <% if match.errors.any? %>
    <div style="color: red" class="grid-x">
      <ul class="cell">
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="grid-x grid-padding-x small-up-1 medium-up-5 large-up-4">
    <script type="text/javascript">
        document.getElementById('match_match_number').focus();
    </script>
    <div class="cell" data-controller="input">
      <div>
        <%= form.label :match_number %>
      </div>
      <div>
        <%= form.number_field :match_number, tabindex: 0, pattern: "[0-9]+" %>
      </div>
    </div>

    <div class="cell" data-controller="select">
      <div>
        <%= form.label :red_alliance %>
      </div>
      <div>
        <%= form.collection_select :red_alliance_teams,
                                   competition.teams.select(:id, :number, :name).order(:number),
                                   :id,
                                   :number_and_name,
                                   multiple: true
        %>
      </div>
    </div>
    <div class="cell" data-controller="select">
      <div>
        <%= form.label :blue_alliance %>
      </div>
      <div>
        <%= form.collection_select :blue_alliance_teams,
                                   competition.teams.select(:id, :number, :name).order(:number),
                                   :id,
                                   :number_and_name,
                                   multiple: true
        %>
      </div>
    </div>

    <div class="cell expanded">
      <div>&nbsp;</div>
      <div>
        <%= form.submit(class: "button") %>
      </div>
    </div>
  </div>
<% end %>
