<tr id="<%= dom_id match %>" class="<%= new %>">
  <td>
    <%= match.match_number %>
  </td>
  <td>
    <% match.red_alliance.team_score_sheets.each do |team_score_sheet| %>
      <%= link_to "Scout #{team_score_sheet.team.number}", edit_competition_match_team_score_sheet_path(match.competition, match, team_score_sheet), class: "button" %>
    <% end %>
  </td>
  <td>
    <% match.blue_alliance.team_score_sheets.each do |team_score_sheet| %>
      <%= link_to "Scout #{team_score_sheet.team.number}", edit_competition_match_team_score_sheet_path(match.competition, match, team_score_sheet), class: "button" %>
    <% end %>
  </td>
</tr>
