<%
  hidden_class = if match.completed
                   "hide complete"
                 else
                   ""
                 end
%>
<tr id="<%= dom_id match %>" class="<%= new %> <%= hidden_class %>">
  <td>
    <%= match.match_number %>
  </td>
  <td>
    <% match.red_alliance.team_score_sheets.each do |team_score_sheet| %>
      <%=
        class_list = if team_score_sheet.scouting_complete?
                       " scouting-complete"
                     else
                       ""
                     end

        url = if team_score_sheet.locked?(@user)
                "#"
              else
                edit_competition_match_team_score_sheet_path(
                  match.competition,
                  match,
                  team_score_sheet)
              end

        link_to "Scout #{team_score_sheet.team.number} #{team_score_sheet.user_initials}",
                url,
                disabled: team_score_sheet.locked?(@user),
                class: "button alert " + class_list
      %>
    <% end %>
  </td>
  <td>
    <% match.blue_alliance.team_score_sheets.each do |team_score_sheet| %>

      <%=
        class_list = if team_score_sheet.scouting_complete?
                       " scouting-complete"
                     else
                       ""
                     end

        url = if team_score_sheet.locked?(@user)
                "#"
              else
                edit_competition_match_team_score_sheet_path(
                  match.competition,
                  match,
                  team_score_sheet)
              end

        link_to "Scout #{team_score_sheet.team.number} #{team_score_sheet.user_initials}",
                url,
                disabled: team_score_sheet.locked?(@user),
                class: "button " + class_list
      %>
    <% end %>
  </td>
</tr>
