<%
  hidden_class = if match.completed
                   "hide complete"
                 else
                   ""
                 end
%>
<tr id="<%= dom_id match %>" class="<%= new %> <%= hidden_class %>">
  <td>
    <%= link_to match.match_number, competition_match_path(match.competition, match) %>
  </td>
  <td>
    <% match.red_alliance.team_score_sheets.each do |team_score_sheet| %>
      <span id="<%= "teams_for_#{dom_id(team_score_sheet)}" %>">
        <%= turbo_stream.append("teams_for_#{dom_id(team_score_sheet)}") do %>
          <%= render "matches/match_team_list",
                     match: match,
                     team_score_sheet: team_score_sheet,
                     user: @user,
                     locked: false,
                     red: true
          %>
        <% end %>
      </span>
    <% end %>
  </td>
  <td>
    <% match.blue_alliance.team_score_sheets.each do |team_score_sheet| %>
      <span id="<%= "teams_for_#{dom_id(team_score_sheet)}" %>">
        <%= render "matches/match_team_list",
                   match: match,
                   team_score_sheet: team_score_sheet,
                   user: @user,
                   locked: false,
                   red: false
        %>
      </span>
    <% end %>
  </td>
  <td>
    <%= button_to "Notify", notify_competition_match_path(match.competition, match), form: {data: {turbo: true}}, class: "button" %>
  </td>
</tr>
