<p style="color: green"><%= notice %></p>

<h1>Matches</h1>

<%= turbo_frame_tag "toggle_new" do %>
  <%= render "form", match: @match, competition: @match.competition %>
<% end %>

<div>
  <%= link_to "View Scores", scores_competition_path(@match.competition), class: "button" %>
</div>

<div>
  Completed Matches: <%= @competition.matches.where(completed: true).count %>
  <a href="javascript:void(0)" id="show-complete" data-controller="matches" data-action="click->matches#showAll">Show</a>
  <a href="javascript:void(0)" class="hide" id="hide-complete" data-controller="matches" data-action="click->matches#hideComplete">Hide</a>
</div>

<table class="hover">
  <thead>
  <tr>
    <th><strong>Number</strong></th>
    <th>Red Alliance Teams</th>
    <th>Blue Alliance Teams</th>
  </tr>
  </thead>
  <tbody id="matches">
  <%= turbo_stream_from "matches" %>
  <%= turbo_stream.prepend :matches do %>
    <%= render @matches, { new: "" } %>
  <% end %>
  </tbody>
</table>

