<p style="color: green"><%= notice %></p>

<%= render @match %>

<div>
  <%= link_to "Edit this match", edit_match_path(@match), class: "button" %>
  <%= link_to "Back to matches", matches_path, class: "button" %>
  <%= link_to "Score this match", edit_match_match_action_path(@match.match_action), class: "button" %>
</div>
